body {
  opacity: 1;
  font: 18px "Open Sans", Helvetica, sans-serif;
  color: #5a5a5a;

  .navbar-wrapper + .container {
    margin-top: 80px;
  }
}

@import "navbar";
@import "marketing";
@import "featurette";
@import "carousel";

.checkbox .form-control {
  height: 1.3em;
}

footer {
  background: #eee;
  height: 100px;
  padding: 35px;

  .attribution {
    font-size: 12px;
  }
}

.carousel .item {
  background-size: cover;
  background-position: center;
}

.validation-message {
  font-size: 14px;
  color: #a94442;
}

.imprint p {
  font-size: 14px;
}

.aboutus {
  img.pull-right {
    padding: 20px 0 20px 20px;
  }
  img.pull-left {
    padding: 20px 20px 20px 0;
  }
}
